* {
    box-sizing: border-box;
}
.container {
    display: flex;
    height: 100vh;
}

.left {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}
.right {
    flex: 1;
    background-color: black;
    transition: 1s;
    background-image: url("img/b1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header > h2 {
    margin: 0;
    color: blueviolet;
}
.header > h4 {
    margin-top: 10px;
    color: rgba(0, 0, 0, .4);
    font-size: 15px;
    font-weight: normal;
}
.form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}
.form > p{
    text-align: center;
}
.form >p > a {
    color: #000;
    font-size: 14px;
}
.form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    outline: 0;
    transition: .2s;
    margin-top: 20px;
}
.form-field:focus {
    border-color: #007bff;
}
.form > button {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
    border-radius: 3px;
    margin-top: 20px;
}
.error-border {
    border: 1px solid red;
}
.valid-border {
    border: 1px solid green;
}

.animation {
    animation-name: move;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-delay: 2s;
}
.a1 {
    animation-delay: 2s;
}
.a2 {
    animation-delay: 2.2s;
}
.a3 {
    animation-delay: 2.4s;
}
.a4 {
    animation-delay: 2.6s;
}
.a5 {
    animation-delay: 2.8s;
}

@keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        padding: 20px 40px;
        width: 440px;
    }
}